/* Apply modern font */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://media.istockphoto.com/id/1783642891/photo/real-starfield-background.webp?b=1&s=170667a&w=0&k=20&c=sHO2hQ7yGH-7qWpHiXpV_ehdfXwLWx6lLgUct5dASA0='); /* Background image URL */
    background-position: center; /* Center the background image */
    
    margin: 0;
    padding: 0;
    height: 100vh; 
  
   
      /*
       display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */ 
}

/* Header styling */
.main-header 
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    padding-bottom: 0px;

    text-align: center;
}
/* Styling for narrative name */
.narrative-row h2 {
    font-size: 2em; /* Larger font size for narrative name */
    text-align: center; /* Center alignment */
    color: lightblue; /* Light blue color */
    text-transform: uppercase; /* Convert to all caps */
    font-family: 'Roboto Condensed', sans-serif; /* Apply Google Fonts for all caps */
    letter-spacing: 1px; /* Add letter spacing for better readability */
    margin-bottom: 20px; /* Add spacing below the narrative name */
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5); /* Add white glow */
}


#narratives-container {
    margin-bottom: 20px; /* Add some space between descriptions and card container */
}

#narratives-container h2 {
    /* Suggested styles for consistency */
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

#narratives-container h3 {
    /* Suggested styles for distinction */
    margin-top: 1em;
    font-weight: bold;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#narratives-container p {
    color: #fff;
    margin-bottom: 0.5em;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Styling for welcome message */
.welcome-message {
    text-align: center;
    margin-top: 50px; /* Adjust margin as needed */
}

.welcome-message h2 {
    text-transform: uppercase; /* Convert text to all caps */
    color: #fff; /* White color */
    font-size: 2em; /* Adjust font size as needed */
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Add white glow */
}
.welcome-message p {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

/* Add glowy effect to the description text */
.welcome-message p {
    color: #fff; /* Set text color to white */
    text-shadow: 0 0 10px rgba(255,255,255,0.8); /* Add glow effect */
}

/* Styling for main title */
.title 
{
    font-size: 2.5em;
    text-align: center;
    color: #f0f323;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Add white glow */
}
    
/* Main content area */
main 
{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    text-align: center;
}

/* Container for crypto cards */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual narrative rows */
.narrative-row {
    margin-bottom: 40px;
    width: 100%;
}

/* Styling for crypto cards */
.crypto-card {
    width: calc(45% - 20px); /* Adjust width and margin to fit two cards per row */
    margin: 10px; /* Adjust margin to create spacing between cards */
    border: none; /* Remove existing border */
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); /* Add white glow */
    position: relative;
}

.card-front {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.card-back {
    width: 93.5%;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-front h2
 {
    position: absolute;
    bottom: 0; /* Adjust to align at the bottom */
    left: 0; /* Adjust to align at the left */
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Add background color to improve readability */
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px; /* Adjust padding to make space smaller */
}

.card-back h2 {
    margin-bottom: 5px; /* Adjust margin between name and other elements */
}

.card-back p {
    margin-bottom: 5px; /* Adjust margin between other elements */
}


.crypto-card.flip .card-front 
{
    transform: rotateY(180deg);
}

.crypto-card.flip .card-back 
{
    transform: rotateY(0deg);
}

.highlight
{
    color: #efec46; /* Or any other color */
}

.explore-button 
{
    display: inline-block;
    padding: 15px 30px;
    background-color: #c1d1da;
    color: #454545;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5); /* Add glowy white border */
}

.explore-button:hover 
{
    background-color: #787e82;
}

/* Style for the select dropdown */
#narratives 
{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #fff; /* White border */
    margin-top: 20px;
    width: 200px; /* Set a fixed width for better appearance */
    appearance: none; /* Remove default arrow icon */
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.293 7.293a1 1 0 0 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 1 1 1.414-1.414L10 11.586l4.293-4.293zM5 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>'); /* Add custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

@keyframes slideIn 
{
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.narrative-title,
.narrative-description {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    /* Adjust animation properties as needed */
}

/* Adding delay to the animation */
.narrative-title 
{
    animation-delay: 0.2s; /* Delay of 0.2 seconds */
}

.narrative-description {
    animation-delay: 0.4s; /* Delay of 0.4 seconds */
}
  
  .crypto-card
 {
    animation: slideIn 0.5s ease-in-out; /* Adjust the animation duration and timing function as needed */
  }
  
.narrative-description 
{
    font-family: 'Roboto Condensed', sans-serif; /* Use Roboto Condensed font */
    font-size: 18px; /* Larger font size */
    color: white; /* White text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White glow effect */
}

.subtitle {
    font-size: 14px; /* Adjust font size as needed */
    text-transform: uppercase; /* Convert text to all caps */
    color: white; /* Set text color to white */
    font-family: 'Roboto Condensed', sans-serif; /* Use Roboto Condensed font */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add white glow effect */
    margin-top: 0; /* Remove default top margin */
}

.crypto-card .card-back .official-website-btn {
    background-color: #1e88e5; /* Dark blue background */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-weight: 700; /* Bold font weight */
    text-transform: uppercase; /* Convert text to all caps */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.crypto-card .card-back .official-website-btn:hover {
    background-color: #1565c0; /* Darker blue on hover */
}



  
